body {
    text-align: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: #050114; 
    background: -webkit-linear-gradient(to right, #5d0aa0, #050114); 
    background: linear-gradient(to right, #5d0aa0, #050114);
    background-size: 400% 400%;
    position: relative;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow: hidden;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.Container-Left {
    width: 50%;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    left: 0;
    z-index: -1;
}

.Container-Right {
    width: 49%;
    height: 95vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;      
    position: absolute;
    top: 10px;
    right: 0;
    flex-direction: column;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.048);
}


.Top-Left {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bg-left {
    position: absolute;
    top: -100px;
    left: 0px;
    width: 400px;
    height: 400px;
    z-index: -1;
}
.astronaut {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    animation: bouge 8s infinite alternate-reverse;
}
.planet {
    width: 400px;
    height: 400px;
    z-index: -1;
    top: 200px;
    left: 100px;
    opacity: .3;
    position: absolute;
    z-index: -1;
}

.planet2 {
    width: 900px;
    z-index: -1;
    top: 100px;
    opacity: .3;
    position: absolute;
    z-index: -1;
}
.Container-Left-Text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Titles{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Title{
    display: inline-block;
    position: relative;
    font-size: 3.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 20px;
    white-space: nowrap;
    transition: .5s;
    animation: slideout 1s  both;
    cursor: pointer;
}
.Title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.Title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.window {
    height: 300px;
    margin-top: 20px;
    width: 90%;
    border: 3px solid rgba(255, 255, 255, 0.562);
    flex-direction: row;
}
.About{
    display: flex;
    flex-direction: row;
    margin: 20px;
    animation: slidein 1s 1s both;
}
.photo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    transition: .5s;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
   
}
.About h2{
    font-size: 2.7em;
}
.About p{
    font-size: 2em;
}
.Subtitle {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    animation: slideout 1s .3s both;
}
.Link-Buttons{
    flex-direction: row;
    margin-top: 50px;
    animation: slidein 1s .7s both;
}

.Link-Buttons i{
   transform: scale(3);
    margin-left: 25px;
    margin-right: 25px;
    transition: .3s;
    color: #fff;
}
.fa-github:hover{
    transform: scale(3.5);
    color: #000;
}
.fa-linkedin:hover{
    transform: scale(3.5);
    color: #0077B5;
} 
   
.Bot-Left {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.Tech {
    display: none;
    width: 100%;
}
.Tech img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
    animation: slidein 1s 1s both;
}
.googlemaps{
    width: 70px !important;
}
.three-js{
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.307)) contrast(0%) !important;
}
.react-router-dom{
    border-radius: 50%;
}
.Contact-Button {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    padding: 20px;
    cursor: pointer;
    transition: .5s;
    animation: slidein 1s 2.5s both;
}
.Contact-Button:hover {
    background-color: #fff;
    color: #000;
}

.Section-Title {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px 0 0 0 ;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.144);
    transform: translate(-50%, -50%);
    padding: 20px;
    animation: slidein 1s 1.3s both;
}
.Grid-Section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    position: relative;
    z-index: 0;
}

.gif-section1 {
    width: 320px;
    height: 250px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    transition: 1s;
    animation: slidein 1s 1.6s both;
    border: 1px solid rgba(255, 255, 255, 0.562);
    border-radius: 10px;
}

.gif-section1:hover{
    transform: scale(1.1);
}

.img1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transition: .5s;
    border-radius: 10px;
}
.img1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Bot-Img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.Bot-Img h2{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    align-items: center;
}
.material-icons {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #fff;
    transition: .5s;
    cursor: pointer;
}
.material-icons:hover{
    border: none;
    background-color: #fff;
    color: rgb(0, 0, 0);
    transform: scale(1.2);
}

.alert{
    width: 100px; 
    margin-bottom: 10px; 
    margin-right: 20px; 
    background-color: yellow;
    color: #000;
    border-radius: 5px;
}
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.732);
    z-index: 1;
    animation: slidein 1s .5s both;
}
.modal .material-icons{
    margin: 0;
    transform: scale(.5)
}
.modal p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
}
.LibrariesList{
    font-size: 1.2em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    text-align: left;
}
/* Media Queries */

@media (min-width: 360px) and (max-width: 760px) {
    body{
        height: 100%;
        overflow: auto;
        background-size: 1000% 1000%;
        background-repeat: no-repeat;
        flex-direction: column;
    }

    .Container-Left{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    .Container-Right{
        display: block;
        width: 100vw;
        height: 1400px;
        position: relative;
        flex-direction: column; 
        margin-top: 800px;
    }

    .Top-Left{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .planet2 {
        width: 400px;
        left: 0px;
    }
    .bg-left{
        width: 200px;
        height: 200px;
        position: relative;
        top: -30px;
    }
    .astronaut{
        width: 200px;
        height: 200px;
        position: relative;
        margin-top: 300px;
    }
    .Top-Left{

        justify-content: center;
        margin-top: 200px;
    }
    .Container-Left-Text{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Titles{
        flex-direction: column;
    }
    .Title{
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        transform: translate(-50%, -50%);
        
    }
    
    .Subtitle{
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .window{
        height: 750px;
    }
    .About{
        flex-direction: column;
    }
    .Tech img{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: .5s;
        filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
        animation: slidein 1s 1s both;
    }
    .Section-Title{
        position: relative;

    }
    .Grid-Section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .gif-section1{
        
        width: 300px;
        height: 230px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
        flex-direction: column;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        transition: 1s;
        animation: slidein 1s 1.6s both;
        border: 1px solid rgba(255, 255, 255, 0.562);
        border-radius: 10px;
    }
    .modal p{
        font-size: 1.2em;
    }

  }

  @media (min-width: 760px) and (max-width: 1200px) {
    body{
        height: 100%;
        overflow: auto;
        background-size: 1000% 1000%;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .Container-Left{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    .Container-Right{
        display: block;
        width: 100vw;
        height: 1400px;
        position: relative;
        flex-direction: column; 
        margin-top: 400px;
    }

    .Top-Left{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .planet2 {
        width: 400px;
        left: 0px;
    }
    .bg-left{
        width: 200px;
        height: 200px;
        position: relative;
    }
    .astronaut{
        width: 200px;
        height: 200px;
        position: relative;
    }
    .Top-Left{

        justify-content: center;
        margin-top: 200px;
    }
    .Container-Left-Text{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Titles{
        flex-direction: column;
    }
    .Title{
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        transform: translate(-50%, -50%);
        
    }
    
    .Subtitle{
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .window{
        height: 500px;
    }
    .About{
        flex-direction: column;
    }
    .Tech img{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: .5s;
        filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
        animation: slidein 1s 1s both;
    }
    .Section-Title{
        position: relative;

    }
    .Grid-Section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .gif-section1{
        
        width: 300px;
        height: 230px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
        flex-direction: column;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        transition: 1s;
        animation: slidein 1s 1.6s both;
        border: 1px solid rgba(255, 255, 255, 0.562);
        border-radius: 10px;
    }
    .modal p{
        font-size: 1.2em;
    }

  }

@media (min-width: 1366px) and (max-width: 1919px){
    body{
        width: auto;
    }

    .astronaut{
        width: 150px;
        height: 150px;
    }

    .Title{
        margin-top: 50px;
        font-size: 2em;
    }
    .Bot-Left{
        margin-top: 0px;
    }
    .About img{
        align-items: center;
    }
    .About p {
        font-size: 1.8em;
    }
    .window{
        height: 350px;
    }
    .Tech img{
        width: 75px;
        height: 75px;
    }
    .Section-Title{
        font-size: 1.2em;
    }
    .gif-section1{
        width: 280px;
        height: 200px;
    }
    .Grid-Section{
        margin-top: 50px;
    }
    .Bot-Img{
        margin-top: 0;
        
    }
    .Bot-Img h2 {
        font-size: 1.1em;
        margin-bottom: 0px;
        text-overflow: ellipsis;
        height: 30px;
    }
    .material-icons{
        transform: scale(.7) !important;
    }
}

/* Animations */

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slidein {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes slideout {
    0% {
        transform: translateX(-100%) translateY(-50%) ;
    
        opacity: 0;
    }
    100% {
        transform: translateX(0%)  translateY(0%) ;
        
        opacity: 1;
    }
}

@keyframes bgentrance {
    0% {
        transform: translateX(-100%) translateY(-50%) ;
    
        opacity: 0;
    }
    100% {
        transform: translateX(0%)  translateY(0%) ;
        
        opacity: 1;
    }
}


@keyframes bouge {
 
    from {
      transform: translateY(0px) rotate(-7deg);
    }
  
    to {
      transform: translateY(30px) rotate(-23deg);
    }
  }